@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.Data{
    font-family: 'Russo One', sans-serif;
    color:White;
    text-align: center;
    width:20%;
    margin: -10px auto;
    font-size: 1.3rem;
}